
// @require themes/components/colors/abstract.scss

@mixin theme-window-main-sidebar ( $theme ) {
  $activitybar-item-hover-bg: map-get( $theme, 'sidebar.list.item.backgroundHover' );
  $activitybar-item-active-bg: map-get( $theme, 'sidebar.list.item.backgroundActive' );

  @if is-light( map-get( $theme, 'body.background' ) ) {
    $activitybar-item-hover-bg: rgba( map-get( $theme, 'sidebar.foreground' ), .12 );
    $activitybar-item-active-bg: rgba( map-get( $theme, 'sidebar.foreground' ), .2 );
  }

  .activitybar {
    background-color: map-get( $theme, 'sidebar.background' );
    color: map-get( $theme, 'sidebar.foreground' );
    border-right-color: map-get( $theme, 'sidebar.list.item.border' );

    .activitybar-item {
      border-color: map-get( $theme, 'sidebar.list.item.border' );
    }

    .activitybar-item:hover {
      background-color: $activitybar-item-hover-bg;
      opacity: 1;
    }

    .activitybar-item.active {
      background-color: $activitybar-item-active-bg;
      opacity: 1;
    }
  }

  .sidepanel {
    background-color: map-get( $theme, 'sidebar.background' );
    color: map-get( $theme, 'sidebar.foreground' );
    border-right-color: map-get( $theme, 'sidebar.list.item.border' );
  }

  .menu-item {
    color: map-get( $theme, 'sidebar.list.item.foreground' );
  }

  .menu-item:hover,
  .menu-item.active {
    background-color: map-get( $theme, 'sidebar.list.item.backgroundHover' );
  }

  .sidepanel {
    .chip {
      border-color: map-get( $theme, 'sidebar.list.item.border' );
      background-color: map-get( $theme, 'sidebar.list.item.background' );
    }

    .info-divider {
      background-color: map-get( $theme, 'sidebar.list.item.border' );
    }

    .action:hover,
    .toc-item:hover {
      background-color: map-get( $theme, 'sidebar.list.item.backgroundHover' );
    }
  }

  .sidebar {

    background-color: map-get( $theme, 'sidebar.background' );
    color: map-get( $theme, 'sidebar.foreground' );

    .list-item {

      $bg: map-get( $theme, 'sidebar.list.item.background' );
      $bg-hover: map-get( $theme, 'sidebar.list.item.backgroundHover' );
      $bg-active: map-get( $theme, 'sidebar.list.item.backgroundActive' );

      @include theme-background-color ( $bg, $bg-hover, $bg-active );
      color: map-get( $theme, 'sidebar.list.item.foreground' );
      border-color: map-get( $theme, 'sidebar.list.item.border' );

    }

    @if is-light( map-get( $theme, 'sidebar.background' ) ) != is-light( map-get( $theme, 'middlebar.background' ) ) {
      & + .layout.column {
        border-left-width: 0;
      }
    }

  }

}
