/* Shared window layout outside component-local CSS modules. */

.middlebar {
  flex:2 2 193px;
  min-width:193px;
  max-width:450px
}

.middlebar .search input {
  width:0
}

.middlebar .list-header .sort-by,.middlebar .list-header .sort-type {
  cursor:pointer
}

.middlebar .list-header .sort-by {
  text-align:left
}

.middlebar .list-header .sort-type i.icon {
  transition:transform .15s
}

html.mac .zen:not(.fullscreen) .preview {
  padding-top:38px !important
}

.zen .mainbar .toolbar,.zen .mainbar .titlebar {
  position:absolute;
  top:0;
  left:0;
  right:0;
  opacity:0
}

.zen .popover:after {
  display:none !important
}

.zen .popover.open {
  margin-top:0 !important
}

html.mac .zen:not(.fullscreen) .popover.show {
  transform:translate(0.625rem, 38px) !important
}

html.mac .zen.fullscreen .popover.show,html.no-mac .zen .popover.show {
  transform:translate(0.625rem, 0.625rem) !important
}

.sidebar {
  flex:1 1 165px;
  min-width:165px;
  max-width:350px
}

.sidebar .toolbar:not(.sidebar-search),.sidebar .titlebar:not(.sidebar-search) {
  opacity:0
}

.sidebar .sidebar-search {
  opacity:1;
  padding:6px
}

.sidebar .sidebar-search .search {
  width:100%
}

.sidebar .list-item i.icon.collapser {
  transition:transform .15s
}

.sidebar .explorer-section {
  cursor:pointer;
  pointer-events:auto;
  min-height:26px;
  height:26px;
  padding:6px 10px 2px;
  font-weight:600
}

.sidebar .explorer-section:hover,.sidebar .explorer-section.active {
  background:rgba(0,0,0,0) !important
}
